<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Barlow+Semi+Condensed|Cuprum|Lato|News+Cycle|Open+Sans|Oxygen|Sarabun&display=swap" rel="stylesheet">
    <title>US Citizen Exam - Practice</title>
</head>
<html>
<body>

    <header class="header">
        <h1>US Citizenship Naturalization Interview Prep</h1>
        <p>Practice all 100 USCIS interview questions</p>
    </header>

    <div class="bodydiv">

        <% if (locals.locationVals) { %>
    
            <form name="locationForm" action="/" method="POST">
        
                <div class="formContainer"> 
                        <label for="selectLocation" id="selectLabel">Choose location: </label>
                        <select name="selectLocation" id="selectLocation" class="cssForm">
                            <option>Select location</option>
                        <% if (locals.userLocation) { %>
                            <option selected value='<%= userLocation %>'><%= userLocation %></option>
                        <% } %>
                        <% for(var i=0; i < locationVals.length; i++) { %>
                            <option value="<%= locationVals[i]['LOCATION'] %>"><%= locationVals[i]['LOCATION'] %></option>
                        <% } %>
                        </select>
                </div>
                <div class="formContainer" id="zipContainer"> 
                    <label for="selectZip" id="zipLabel">Enter 5 digit zip code: </label>
                    <input name="selectZip" id="selectZip" class="cssForm" type="text" placeholder="<%= zipVal %>" size="5" required>
                    <% if (locals.validationError) { %>
                        <p id="error""><%= validationError %></p>
                    <% } %>
                </div>
                <div class="formContainer" id="startContainer">
                    <button id="setLocationButton" class="cssButton">Set Location</button>
                </div>
            </form>
    
        <% } else { %>
    
           <div id="userLocation">
                <% if (locals.zipVal) { %>
                    <p>Your location is: <%= userLocation %>, <%= zipVal %></p>
                <% } else { %>
                    <p>Your location is: <%= userLocation %></p>
                <% } %>
            </div>
        
            <div>
                <form action="/reset" method="GET">
                    <button id="resetButton" class="cssButton">Reset Location</button>
                </form>
            </div>
    
            <div>
                <button onclick="window.location.href='/question/1'" id="startButton" class="cssButton">Start</button>
            </div>
    
        <% } %>            

    </div>    
    <script type="text/javascript" src="/public/javascripts/citizen.js"></script>

</body>
</html>