<!DOCTYPE html>
<head>
    <!-- <meta charset="utf-8" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="public/stylesheets/style.css" type="text/css">
    <title>US Citizen Exam - Practice</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1>US Citizenship Interview - Practice Questions</h1>
        <p>Practice all 100 USCIS interview questions.</p>
    </header>
    <div>
        <p>Your location is: <%= userLocation %></p>
        <% if (locals.zipVal) { %>
            <p>Your zip is: <%= zipVal %></p>
        <% } %>
        <form action="/" method="GET">
            <!-- <input type="submit" value="Reset" /> -->
            <button class="button">Reset</button>
        </form>
    </div>
    <div id="container">
        <div>
            <p id="question"><%= question %></p>
        </div>
        <div id="answer">
            <ul id="answerList">
                <% for(var i=0; i < answer.length; i++) { %>
                    <li class="answerLi"><%= answer[i] %></li>
                <% } %>
            </ul>
        </div>
        <div id="button-area">
            <button id="showAnswerButton" value="hidden">Show Answer</button>
            <form id="nextform" action="/start" method="POST">
                <input name="q_index" id="q_index" type="number" value="<%= q_index %>" />
                <button id="nextQuestionButton" class="button">Next Question</button>
                <!-- <input id="nextQuestionButton" type="submit" value="Next Question"/> -->
            </form>
        </div>
    </div>

    <script type="text/javascript" src="public/javascripts/start.js"></script>

</body>
</html>