<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Barlow+Semi+Condensed|Cuprum|Lato|News+Cycle|Open+Sans|Oxygen|Sarabun&display=swap" rel="stylesheet">
    <title>US Citizen Exam - Practice</title>
</head>
<html>
<body>

    <div class="bodydiv">

        <div>
            <% if (locals.zipVal) { %>
                <p>Your location is: <%= userLocation %>, <%= zipVal %></p>
            <% } else { %>
                <p>Your location is: <%= userLocation %></p>
            <% } %>
        </div>
    
        <div>
            <form action="/reset" method="GET">
                <button id="resetButton" class="cssButton">Reset Location</button>
            </form>
        </div>

    </div>    

    <div class="bodydiv">

        <div id="flashCard">
    
            <div class="container-button">

                <div id="question">
                   <p><%= question %></p>
                </div>
        
                <div id="answer">
                    <ul id="answerList">
                        <% for(var i=0; i < answer.length; i++) { %>
                            <li id="answerLi"><%= answer[i] %></li>
                        <% } %>
                    </ul>
                </div>
        
            </div>
            <div class="container-button">
               
                <button id="showAnswerButton" class="cssButton" value="hidden">Show Answer</button>
    
                <% if (q_index < 100) { %>
                    <form id="nextForm" action="/question/<%= next %>" method="POST" >
                        <input name="nextInput" id="shown2" class="shown"/>
                        <button type="submit" id="nextQuestionButton" class="cssButton">Next Question</button>
                    </form>
                <% } %>
    
                <div>
                    <form id="finishForm" action="/finish" method="POST">
                        <input name="finishInput" id="shown" class="shown"/>
                        <button id="finishedButton" class="cssButton">Finish</button>
                    </form>
                </div>

            </div>
    
    
        </div>

    </div>    

    <script type="text/javascript" src="/public/javascripts/start.js"></script>
</body>
</html>